<h2 mat-dialog-title>Nowy przedmiot:</h2>

<mat-dialog-content>
  <mat-form-field>
    <mat-label>Nazwa przedmiotu</mat-label>
    <input matInput type="name" name="name" required [(ngModel)]="subject.name" #name="ngModel">
    <div *ngIf="(name.invalid && name.touched)">
      <small *ngIf="name.errors?.required" class="text-danger">Nazwa jest wymagana</small>
    </div>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]="!subject" (click)="save()">
    <mat-icon fontSet="material-icons-outlined ">done</mat-icon>
    Zapisz przedmiot
  </button>
  <button mat-raised-button color="warn" (click)="close()">
    <mat-icon fontSet="material-icons-outlined">cancel</mat-icon>
    Anuluj
  </button>
</mat-dialog-actions>
