<h2 mat-dialog-title>Edycja konsultacji</h2>
<mat-dialog-content>
  <mat-form-field>
    <label>Data konsultacji</label>
    <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="day">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>

  <label>Czas rozpoczęcia:</label>
  <timepicker [(ngModel)]="startTime" [minuteStep]="10" [arrowkeys]="true" [showMeridian]="false"
              (ngModelChange)="checkMinutes(startTime, 'start')"></timepicker>
  <label>Czas zakończenia:</label>
  <timepicker [(ngModel)]="endTime " [minuteStep]="10" [arrowkeys]="true" [showMeridian]="false"
              (ngModelChange)="checkMinutes(endTime, 'end')"></timepicker>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="save()">
    <mat-icon fontSet="material-icons-outlined">done</mat-icon>
    Zapisz
  </button>
  <button mat-raised-button color="warn" (click)="close()">
    <mat-icon fontSet="material-icons-outlined">cancel</mat-icon>
    Anuluj
  </button>
</mat-dialog-actions>
