<div class="row h-100 justify-content-around p-4">
  <div class="col-5 h-100">
    <mat-card>
      <mat-card-header class="blue-card">
        <mat-card-title>Pracownicy</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-selection-list [multiple]="false">
          <mat-list-option *ngFor="let teacher of paginatedTeachers"
                           (click)="setTeacher(teacher)">{{teacher.name}} {{teacher.surname}}</mat-list-option>
        </mat-selection-list>
        <mat-paginator [showFirstLastButtons]="true" [hidden]="pageSize >= teachers.length"
                       [pageSizeOptions]="[]" [hidePageSize]="true" [pageSize]="pageSize" (page)="changePage($event)"
                       [length]="length"></mat-paginator>
        <div align="end">
          <button mat-raised-button color="accent" class="m-3" (click)="prepareNewTeacher()">
            <mat-icon fontSet="material-icons-outlined ">add</mat-icon>
            Dodaj pracownika
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-7">
    <mat-card>
      <mat-card-header class="dark-blue-card">
        <mat-card-title>Dane:</mat-card-title>
      </mat-card-header>
      <mat-card-content class="pb-2">
        <form [formGroup]="createUserForm">
          <div class="row justify-content-around">
            <div class="col-4">
              <mat-form-field>
                <mat-label>Imię</mat-label>
                <input type="text" name="name" matInput formControlName="name">
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Nazwisko</mat-label>
                <input type="text" name="surname" matInput formControlName="surname">
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="col-4">
              <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input type="email" name="email" matInput formControlName="email">
              </mat-form-field>
            </div>
            <div class="col-4">
            </div>
          </div>
          <div class="subjects" [hidden]="teacher?.subjects?.length == 0">
            <p class="my-4"> Zajęcia pracownika:</p>
            <mat-option *ngFor="let subject of teacher?.subjects"> {{subject.name}}</mat-option>
          </div>
          <div align="end" [hidden]="teacher">
            <button mat-raised-button color="primary" class="m-3" (click)="createTeacher()"
                    [disabled]="!createUserForm.valid">
              <mat-icon fontSet="material-icons-outlined">done</mat-icon>
              Zapisz
            </button>
            <button mat-raised-button color="warn" class="m-3" (click)="dismissCreating()">
              <mat-icon fontSet="material-icons-outlined ">cancel</mat-icon>
              Anuluj
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

  </div>
</div>
