<h2 mat-dialog-title>Dołącz do przedmiotu</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Wybierz przedmiot:</mat-label>
    <mat-select [(ngModel)]="subject">
      <mat-option *ngFor="let subject of subjects" [value]="subject">{{subject.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]="!subject" (click)="save()">
    <mat-icon fontSet="material-icons-outlined ">done</mat-icon>
    Zapisz się do przedmiotu
  </button>
  <button mat-raised-button color="warn" (click)="close()">
    <mat-icon fontSet="material-icons-outlined">cancel</mat-icon>
    Anuluj
  </button>
</mat-dialog-actions>
