<div class="header-wrapper position-absolute m-auto w-100 h-100">
  <div class="header w-50 m-auto text-center">
    <h1 class="main-header font-weight-bold">Planer konsultacji</h1>
    <h2 class="mt-5">Wybierz, co chcesz zrobić</h2>
  </div>
</div>
<div class="options-wrapper w-100 h-100 row row-cols-2 text-center">
  <div class="option-container h-100 row align-items-center m-0">
    <div class="col-6 m-auto">
      <button mat-raised-button color="primary" class="button" routerLink="/planner">Otwórz planer</button>
    </div>
  </div>
  <div class="option-container h-100 row align-items-center m-0">
    <div class="col-6 m-auto">
      <button mat-raised-button color="warn" class="button" routerLink="/login">Zaloguj się</button>
    </div>
  </div>
</div>
