<mat-toolbar color="primary">
  <mat-toolbar-row class="navbar">
    <span class="mr-auto">Planer konsultacji</span>
    <button mat-raised-button color="accent" [hidden]="!authService.isAuthenticated()" class="button"
            routerLink="/panel/dashboard">Powrót do panelu
    </button>
    <button mat-raised-button color="warn" [hidden]="!authService.isAuthenticated()" class="button ml-2"
            routerLink="/logout" (click)="authService.logout()">Wyloguj
    </button>
    <button mat-raised-button color="accent" [hidden]="authService.isAuthenticated()" class="button"
            routerLink="/login">Zaloguj się
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container-fluid mt-5">
  <div class="info-header col-lg-10 row m-auto">
    <div class="col-6">
      <span
        class="mr-5">Prowadzący: {{lessonModel?.teacher?.name || "--------------------------------"}} {{lessonModel?.teacher?.surname}}
      </span>
    </div>
    <div class="col-6">
      <span>
        Przedmiot: {{lessonModel?.subject?.name || "--------------------------------"}}
      </span>
    </div>
  </div>
  <div class="col-lg-10 row justify-content-between m-auto pt-5">
    <div class="col-3">
      <app-search-panel [lessonModel]="lessonModel" (onSelect)="loadCalendar()"></app-search-panel>
    </div>
    <div class="col-8">
      <div>
        <full-calendar
          #calendarComponent
          [eventOverlap]="false"
          [selectable]="true"
          [allDaySlot]=false
          [plugins]="calendarPlugins"
          (select)="openNewEventDialog($event)"
          slotDuration="00:10:00"
          slotLabelInterval="00:30:00"
          defaultView="timeGridWeek"
          [events]="events"
          [validRange]="validDate"
          locale="pl"
          maxTime="20:00:00"
          minTime="08:00:00"
          [height]="600"
        ></full-calendar>
      </div>
    </div>
  </div>
</div>
