<mat-card class="example-card">
  <mat-card-header class="blue-card">
    <mat-card-title>Zmiana hasła:</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()">
      <mat-form-field>
        <mat-label>Poprzednie hasło</mat-label>
        <input matInput type="password" formControlName="oldPassword" id="oldPassword">
        <div *ngIf="(oldPassword.invalid && oldPassword.touched)">
          <small *ngIf="oldPassword.errors?.required" class="text-danger">To pole jest wymagane</small>
        </div>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nowe hasło</mat-label>
        <input matInput type="password" formControlName="newPassword">
        <div *ngIf="(newPassword.invalid && newPassword.touched)">
          <small *ngIf="newPassword.errors?.required" class="text-danger">To pole jest wymagane</small>
        </div>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Potwierdź nowe hasło</mat-label>
        <input matInput type="password" formControlName="passwordConfirmation">
        <div *ngIf="(passwordConfirmation.invalid && passwordConfirmation.touched)">
          <small *ngIf="passwordConfirmation.errors?.mustMatch" class="text-danger">Adresy różnią się od siebie</small>
          <small *ngIf="passwordConfirmation.errors?.required" class="text-danger">To pole jest
            wymagane</small>
        </div>
      </mat-form-field>
      <div align="end">
        <button mat-raised-button type="submit" color="primary" class="m-3"
                [disabled]="passwordChangeForm.invalid">
          <mat-icon fontSet="material-icons ">vpn_key</mat-icon>
          Zmień hasło
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
